@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --background: #f0f0f0;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #eaeaea;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;  /* Aplicar a fonte Inter */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}